

/* Start Custom NavBar */
.navbar-inverse { background-color: #32C8FE;  background-image: none; border-color: #32C8FE;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #008FCC}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:hover,
   .navbar-inverse .navbar-nav>.open>a:focus { background-color: #EB901F; color: #FFFFFF}
.dropdown-menu { background-color: #85D7F2}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color: #428BCA; color: #FFFFFF;background-image: none;}
/* .navbar-inverse { background-image: none; } */
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #FFFFFF}

.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF;border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF; border-bottom-color: #FFFFFF}
 

.caret-right { border-left: 4px solid; border-bottom: 4px solid transparent; border-top: 4px solid transparent;}
/* End Custom NavBar */





